@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Inter", sans-serif;
    background-color: black;
    color: white;
}

.container {
    max-width: 80%;
    margin: 3rem auto;
}

.header{
    background-image: linear-gradient(to bottom, #000000, #0d0d0d, #171616, #1e1d1e, #262525, #262525, #262525, #262525, #1e1d1e, #171616, #0d0d0d, #000000);
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem;
}

.nav-options {
    display: flex;
    justify-content: space-between;
    /* gap: 2.5rem; */
    width: 420px;
    height: 3rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 2rem;

}

.nav-options p {
    padding: 13px;
}

.nav-title {
    font-size: 2rem;
    color: #E6533C;
}

.btn-primary {
    background-color: #E6533C;
    padding: 0 20px;
    border: none;
    border-radius: 2rem;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    margin: 5px 5px;
}

.ham-burger{
    display: none;
}

.body-container {
    margin: 30px 0
}

.body-container h1 {
    font-size: 5rem;
    font-weight: 900;
}

.body-description {
    margin: 2rem 0;
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    line-height: 25px;
}



.btn-second {
    background-color: #E6533C;
    color: white;
    padding: 16px 60px;
    border: none;
    border-radius: 2.7rem;
    font-size: 1rem;
    font-weight: 600;
    margin: 0 15px 0 0;
}

#btn {
    background-color: black;
    color: white;
    padding: 16px 45px;
    border-radius: 2.7rem;
    font-size: 1rem;
    font-weight: 600;
    border: 1px solid white;
}

.body-section {
    display: flex;
    justify-content: space-between;
}

.video-container {
    width: 170px;
    height: 80px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 1rem;
    background: rgba(48, 48, 48, 0.54);
    backdrop-filter: blur(5px);
    display: flex;
    gap: 0.7rem;
    justify-content: center;
    align-items: center;
}

.tutorial h3 {
    font-size: 1.3rem;
    font-weight: 900;
    margin-bottom: 0.5rem;
}

.tutorial p {
    color: rgba(239, 237, 232, 0.65);
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.4px;
}

.button {
    background-color: #E6533C;
    padding: 18px 18px;
    border: none;
    border-radius: 50%;
    gap: 20px;
}

.image-container {
    display: flex;
    gap: 2rem;
    position: relative;
    /* justify-content: space-around; */
}

.video-container {
    position: absolute;
    margin: 26rem -5rem;
}

.workout {
    width: 170px;
    height: 85px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 1rem;
    background: rgba(48, 48, 48, 0.54);
    backdrop-filter: blur(5px);
    position: absolute;
    top: 9rem;
    right:-1.5rem;
}

.workout-title,
.workout-description {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0.8rem auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.workout-title {
    font-size: 1.7rem;
    font-weight: 800;
    letter-spacing: 2px;
    margin-right: 2rem;
}

.workout-description {
    color: rgba(255, 255, 255, 0.65);
    font-size: 0.7rem;
    font-weight: 400;
}

.your-habits-content{
    width: 40vw;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 6rem;
}

.habits-title{
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 1rem;
}

.habits-description{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.9rem;
    line-height: 25px;
}

.habits-line{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.9rem;
    line-height: 20px;
    width: 200px;
}

.image-habit img{
    border-radius: 50%;
}

.image-description{
    width: 190px;
    margin: 10px 0;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.pic-title{
    margin: 10px 0;
}

.habit-image{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-left: 4rem;
    gap: 5rem;
}

#join{
    width: 13vw;
    margin-top: 2rem;
}

.extra-image img{
    width: 24rem;
    margin-left: 7.5rem;
    border-radius: 1rem;
}

.extra-mile-box{
    margin: 0 3rem;
}

.extra-mile-title{
    font-size: 2.8vw;
    font-weight: 900;
    margin-bottom: 1rem;
}

.extra-mile-description{
    width: 25vw;
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.5);
    line-height: 20px;
}

.extra-mile{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background: rgba(48, 48, 48, 0.54);
    backdrop-filter: blur(5px);
    border-radius: 1rem;
    justify-content: center;
    align-items: center;
    width: 70vw;
    height: 45vh;
    margin-top: 6rem;
}

.bmi-content{
    width: 41rem;
    margin-bottom: 9rem;
}

.bmi-content h1{
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 1rem;
}

.bmi-content p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.9rem;
    line-height: 22px;
}

table, th, td {
    border: 1px solid rgba(255, 255, 255, 0.100);
    border-collapse: collapse;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 20px;
    padding-right: 25px;
  }
 
tr th{
    text-align: start;
}  

tr td{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.9rem;
}

.calculate-table h2{
    font-size: 1.8rem;
    font-weight: 900;
    margin-bottom: 3rem;
}

.calculate-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.calculate-container{
    background: rgba(48, 48, 48, 0.54);
    backdrop-filter: blur(5px);
    height: 34rem;
    padding: 30px 0;
}

.bmi-form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem; 
}

.bmi-form select{
    background: rgba(255, 255, 255, 0.100);
    border: none;
    border-radius: 0.5rem;
    padding: 0 55px;
    color: #707070;
}

form select{
    background: rgba(255, 255, 255, 0.100);
    border: none;
    border-radius: 0.5rem;
    padding: 15px 55px;
    color: #707070;
}

form{
    margin-bottom: 2rem;
}

input{
    padding: 15px 55px;
    background: rgba(255, 255, 255, 0.100);
    border: none;
    border-radius: 0.5rem;
}

form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem; 
}

.your-bmi h2{
    font-size: 1.8rem;
    font-weight: 900;
    margin-bottom: 1.5rem;
}

.your-bmi p{
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.5);
    width: 35rem;
    margin-bottom: 2.2rem;
    line-height: 20px;
}

.meet-content{
    width: 40vw;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 6rem;
}

.meet-content h1{
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 1rem;
}

.meet-content p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.9rem;
    line-height: 20px;
}

.team-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: relative;
    padding: 1.5rem 0 1.5rem 1.5rem;
    background: rgba(48, 48, 48, 0.54);
    backdrop-filter: blur(5px);
    height: 42rem;
    max-width: 1050px;
    padding-bottom: 10rem;
    border-radius: 1.2rem;
    padding-left: 1.7rem;
}

.team-container img{
    width: 93%;
}

.team-image img{
    height: 93%;
    border-radius: 1.2rem;
}

.team-image p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.9rem;
    position: absolute;
}

.team-image h3{
    position: absolute;
}

.title-1{
    top: 255px;
    left: 50px;
}

.description-1{
    top: 280px;
    left: 50px;
}

.title-2{
    top: 255px;
    left: 390px;
}

.description-2{
    top: 280px;
    left: 390px;
}

.title-3{
    top: 255px;
    right: 180px;
}

.description-3{
    top: 280px;
    right: 270px;
}

.title-4{
    bottom: 75px;
    left: 50px;
}

.description-4{
    bottom: 55px;
    left: 50px;
}

.title-5{
    bottom: 75px;
    left: 395px;
}

.description-5{
    bottom: 55px;
    left: 395px;
}

.title-6{
    bottom: 75px;
    right: 185px;
}

.description-6{
    bottom: 55px;
    right: 270px;
}

.footer-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 6rem;
    margin-right: 7rem;
    padding: 2rem 3rem;
    /* border: 1px solid red; */
    margin-top: 7rem;
}

.fitness h1{
    font-size: 4rem;
    font-weight: 900;
    color: #E6533C;
    margin-bottom: 1.5rem;
}

.fitness p{
    width: 430px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.9rem;
    line-height: 23px;

}

.start-content h2{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 2.2rem;
}

.start-content p{
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

hr{
    border: 1px solid rgba(255, 255, 255, 0.1);
    width: 70rem;
}

.footer-description{
    max-width: 300px;
    margin:0 auto;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    padding: 0 0 3rem 0;
    font-size: 1.2rem;
}

  /* Responsive Section */

@media screen and (max-width: 576px){
    .nav-options{
        display: none;
    }

    .ham-burger{
        display: block;
        margin-top: 0.8rem;
    }

    .body-section{
        flex-direction: column;
    }
   
    .body-container h1{
        font-size: 3rem;
    }

    .body-description{
        width: 16rem;
        line-height: 25px;
    }

    .btn-second{
        padding: 16px 39px;
    }

    #btn{
        padding: 16px 19px;
    }

    .video-container{
        margin: 18rem 0;
    }

    .workout{
        top: 3rem;
        right: -2rem;
    }

    .habit-image{
        grid-template-columns: repeat(1, 1fr);
    }

    .habits-title{
        font-size: 1.8rem;
        /* border: 1px solid red; */
        width: 280px;
    }

    .habits-description{
        width: 280px;
        line-height: 25px;
    }

    .your-habits-content{
        margin-right: 10rem;
        margin-top: 1%;
    }

    .habits-line{
        width: 13rem; 
        margin-left: -0.5rem;
        line-height: 20px;
    }

    .extra-mile{
        grid-template-columns: repeat(1, 1fr);
        height: 33rem;
    }

    .extra-mile-title{
        width: 15rem;
        font-size: 1.8rem;
        margin-left: 1rem;
    }

    .extra-mile-description{
        width: 15rem;
        margin-left: 1rem;
        width: 250px;
        line-height: 20px;
    }

    #join{
        width: 15rem;
        margin-left: 1rem;
    }

    .extra-image img{
        width: 15rem;
        margin-left: 4rem;
    }

    .bmi-content{
        margin-bottom: 3rem;
    }

    .bmi-content h1{
        font-size: 2.5rem;
    }

    .bmi-content p{
        line-height: 25px;
    }

    .calculate-content{
        grid-template-columns: repeat(1, 1fr);
    }

    .your-bmi h2{
        margin-top: 3rem;
    }

    .your-bmi p{
        font-size: 1rem;
        width: 22rem;
        line-height: 25px;
    }

    input{
        padding: 15px 0;
    }

    .bmi-form select{
        padding: 0 2px;
    }

    form select{
        padding: 15px 2px;
    }

    .your-bmi .btn-second{
        padding: 16px 80px;
    }

    .calculate-container{
        height: 57rem;
    }

    .meet-content h1{
        font-size: 2.3rem;
        width: 275px;
        /* text-align: start; */
    }

    .meet-content p{
        width: 275px;
        text-align: center;
        margin-right: 3rem;
        line-height: 25px;
    }

    .team-container{
        grid-template-columns: repeat(1, 1fr);
        gap: 1.5rem;
        height: 83.5rem;
        width: 90%;
    }

    .team-image{
        margin-top: 7px;
        align-items: center;
    }

    .team-image img{
        height: 100%;
    }

    .team-container img{
        width: 92%;
    }
    
    #meet{
        margin: 4rem 4.5rem;
    }

    #image-box{
        display: none;
    }

    .description-1{
        top: 285px;
        left: 50px;
    }

    .title-2{
        top: 565px;
        left: 50px;
    }

    .description-2{
        top: 595px;
        left: 50px;
    }

    .title-3{
        top: 925px;
        left: 50px;
    }

    .description-3{
        top: 955px;
        left: 50px;
    }

    .title-6{
        bottom: 80px;
        left: 50px;
    }

    .description-6{
        bottom: 60px;
        left: 50px;
    }



}